<?= $header ?>
<div class="container main">
    <?= $column_left ?>
    <div class="content">
        <?php echo $content_top; ?>
        <div class="about-us">
            <h1><?php echo $heading_title; ?></h1>
            <div class="text fix-p">
                <p align="center">&nbsp;</p>
                <p align="center"><span style="FONT-SIZE: 16px"><br>
                        В&nbsp;ближайшее время, чтобы уточнить&nbsp;все детали,&nbsp;с Вами
                        свяжется&nbsp;дежурный битуммэн или его помощники.<br>
                        <br>
                        <strong><font color="#FF8000">Это займет не&nbsp;более 10
                            минут.</font></strong></span></p>
                <!--<p>&nbsp;</p>
                <p align="center">
                    <img title="Ошибка 404. Битуммэн вылетел для решения проблемы" border="0" hspace="0" alt="Ошибка 404. Битуммэн вылетел для решения проблемы" src="/image/catalog/antsnab/site/404.jpg" width="70%" align="middle"></p>
                -->

            </div>
        </div>
        <?php echo $content_bottom; ?>
    </div>
</div>
<?= $footer ?>