/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Open Sans Antsnab";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/OpenSans/woff2/opensans-lightitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/OpenSans/woff/opensans-lightitalic-webfont.woff")
      format("woff"),
    url("../fonts/OpenSans/ttf/OpenSans-LightItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans/woff2/opensans-italic-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans/woff/opensans-italic-webfont.woff") format("woff"),
    url("../fonts/OpenSans/ttf/OpenSans-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/OpenSans/woff2/opensans-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans/woff/opensans-semibolditalic-webfont.woff") format("woff"),
    url("../fonts/OpenSans/ttf/OpenSans-SemiBoldItalic.ttf") format ("ttf");
}

@font-face {
  font-family: "Open Sans Antsnab";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/OpenSans/woff2/opensans-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans/woff/opensans-bolditalic-webfont.woff") format("woff"),
    url("../fonts/OpenSans/ttf/OpenSans-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/OpenSans/woff2/opensans-extrabolditalic-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans/woff/opensans-extrabolditalic-webfont.woff") format("woff"),
    url("../fonts/OpenSans/ttf/OpenSans-ExtraBoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans Antsnab";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans/woff2/opensans-light-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans/woff/opensans-light-webfont.woff") format("woff"),
    url("../fonts/OpenSans/ttf/OpenSans-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/woff2/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/OpenSans/woff/opensans-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style:normal;
  font-weight: 600;
  src: url("../fonts/OpenSans/woff2/opensans-semibold-webfont.woff2") format("woff2"),
        url("../fonts/OpenSans/woff/opensans-semibold-webfont.woff") format("woff"),
        url("../fonts/OpenSans/ttf/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/woff2/opensans-bold-webfont.woff2") format("woff2"),
        url("../fonts/OpenSans/woff/opensans-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Antsnab";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans/woff2/opensans-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/OpenSans/woff/opensans-extrabold-webfont.woff") format("woff");
}