.card-product{
    margin: 0;
    .title{
        margin-bottom: 16px;
    }
    .manufacturer{
        margin-bottom:16px;
        p{
            font-size: 14px;
            color: #666666;
            display:flex;
            justify-content: space-between;
        }
        span{
            display:inline-block;
        }
    }
}

.card-product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:20px;
    position:relative; //for preloader

    .right{
        width: 46%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        /** it is hack для одинаковых высот thumbs и складов - fallback если js отключен, сама реализация в js*/
        padding-bottom: 96px;
        position:relative;
        .description-price{
            overflow: hidden;
            width: 100%;
            .description-mini {
                font-size: 14px;
                color: #000000;
                line-height: 20px;
                margin-bottom: 2px;
                max-height: 80px;
                overflow: hidden;
            }
            .price-for{
                float: right;
                span{
                    display: block;
                    text-align: center;
                    margin-bottom: 5px;
                    color: #666666;
                    font-size: 13px;
                }
                ul{
                    display: flex;
                    li{
                        a{
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            border: 1px solid #E8E5E2;
                            background-color: #EFEEEC;
                            color: #666666;
                            font-size: 13px;
                            line-height: 21px;
                            height: 25px;
                            @include transition;
                            width: 70px;

                        }
                        &.active {
                          a {
                                border: 1px solid #85F567;
                                background-color: #85F567;
                            }
                        }
                    }
                    
                }
            }
        }
        .OutputContainer{
            margin: 0;
        }
        .quantity-buy{
            justify-content: space-between;
            flex-wrap: nowrap;
            .quantity-buy-block{
                min-width: 135px;
                display: flex;
            }
            a.buy{
                width: 54%;
            }
        }
    }
    .left{
        width: 51%;
        position: relative;
        
    }
}
.space{
    width: 100%;
    height:17px;
}
.thumb__nav{
    margin: 17px 0 0 0;
    .thumb__list{
        margin: 0 -5px;

        &:after{
            content:'';
            display:block;
            clear:both;
        }

        .thumb__item{

            width: 25% !important;
            float: left;
            padding: 0 5px;
            cursor: pointer;
        }
    }
}
.thumb__link{
    border: 2px solid #EFEEEC;
    display: block;

    img{
        display: block;
        height:auto;
        margin: auto;
    }
}

.wholesale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .wholesale-price{
        strong{
            font-weight: 400;
            color: #000000;
            font-size: 26px;
            margin-bottom: 5px;
        }
        span{
            display: inline-block;
            color: #666666;
            font-size: 13px;
        }
        
    }
    p{
        display: block;
        color: #666666;
        font-size: 13px;
    }
}

#wholesalePrice {
    color: #000000;
    font-size: 26px;
    margin-bottom: 5px;
}
.help_cont {
    position:relative;
}

.help_question{
    position: absolute;
    top: -9px;
    right: -24px;
    color: #666666;
    font-size: 12px;
    text-align: center;
    width: 21px;
    height: 21px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #EFEEEC;
    line-height: 21px;
    overflow: hidden;
    cursor: pointer;
    @include transition;
    em{
        position: absolute;
        top:30px;
        z-index: 5555;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        border: 1px solid #DFDDD9;
        background-color: #fff;
        color: #666;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        display: block;
        min-width: 240px;
        padding: 10px;
        &:after{
            content:'';
            display:block;
            clear:both;
            position: absolute;
            top:-9px;
            left: 50%;
            width: 16px;
            height: 10px;
            margin-left: -8px;
            background: url(../img/icon22.png) no-repeat;
        }
        &:hover{
            display: none;
        }
    }
    &:hover{
        overflow: inherit;
        @include transition;
    }
}
.wholesale2{
    .wholesale-price{
        strong{
            font-size: 18px;
        }
    }
}
.border{
    width: 100%;
    height: 1px;
    background-color: #E8E5E2;
}
.in-stock{
    border: 1px solid #EAE7E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    /** хак для ровной высоты между скаладами и ноготками фоток. это только инициализация для fallback для браузеров с отключенным js*/
    height:79;
    span{
        display: block;
        background: url(../img/icon23.png) no-repeat 0 50%;
        padding-left: 38px;
        min-height: 20px;
        line-height: 20px;
        color: #666666;
        font-size: 13px;
        margin-bottom: 15px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 19px;
            min-height:20px;
            line-height: 20px;
            padding-left: 32px;
            color: #425de5;
            font-size: 13px;
            text-decoration: underline;
            background: url(../img/icon24.png) no-repeat 0 50%;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
            &:last-child{
                background: url(../img/icon25.png) no-repeat 0 50%;
            }
        }
    }
}
.info-block2{
    p{
        font-size: 14px;
    }
}
.card-product-tabs{
    ul.tabset{
        display: flex;
        justify-content: flex-start;
        li{
            margin: 0 6px 0 0;
        }
    }
}

.popup2{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: auto;
    .close3{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-background-color: rgba(0, 0, 0, 0.7);
        -moz-background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    .popup-block2{
        /*width: 850px;*/
        max-width: 850px;
        width:100%;
        position: relative;
        margin: 20px auto;
        padding: 0 20px;
        z-index: 2;

        .popup-content2{
            width: 100%;
            background-color: #fff;
            position: relative;
            padding: 30px 20px;
            .close4{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                background: url(../img/close.png) no-repeat;
                width: 25px;
                height: 25px;
                opacity: 0.7;
                @include transition;
                &:hover{
                    opacity: 1;
                    @include transition;
                }
            }
            span{
                display: block;
                margin-bottom: 15px;
                font-weight: bold;
                font-size: 17px;
            }
            p{
                display: block;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 18px;
                b{
                    text-decoration: underline;
                }
                a{
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}




.popup3{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: auto;
    .close5{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-background-color: rgba(0, 0, 0, 0.7);
        -moz-background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    .popup-block3{
        max-width: 850px;
        width:100%;
        position: relative;
        margin: 20px auto;
        padding: 0 20px;
        z-index: 2;

        .popup-content3{
            width: 100%;
            background-color: #fff;
            position: relative;
            padding: 30px 20px;
            .close6{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                background: url(../img/close.png) no-repeat;
                width: 25px;
                height: 25px;
                opacity: 0.7;
                @include transition;
                &:hover{
                    opacity: 1;
                    @include transition;
                }
            }
            span{
                display: block;
                margin-bottom: 15px;
                font-weight: bold;
                font-size: 17px;
            }
            p{
                display: block;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 18px;
                b{
                    text-decoration: underline;
                }
                a{
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.notify {
    text-align: center;

    font-size: 16px;
    font-weight: bold;
    color: #ff8001;
    visibility: hidden;
}
.notify.active {
    visibility: visible;
}

@media screen and (max-width: 639px) {
    .card-product-container .right .description-price p {
        max-height: 0px;
    }
    .in-stock span {
        display: none;
    }
}

@media screen and (max-width: 555px) {
    .in-stock {
        span {
            display: block;
        }
    }
    .mentioned-products ul li{
        width:50%;
        &:last-child{
            display: block;
        }
    }
    .card-product-container .right{
        order:4;
        width: 100%;
    }
    .card-product-container .right .description-price p {
        max-height: 1000px;
    }
    .card-product-container .left{
        width: 100%;
    }
    .card-product-container .right .description-price{
        margin-bottom: 20px;
    }
    .card-product-container .right .quantity-buy a.buy {
        width: 120px;
    }
    .wholesale{
        margin-bottom: 20px;
        .wholesale-price b em{
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: -80px;
            &:after{
                margin-left: -37px;
            }
        }
    }
    .border{
        margin-bottom: 20px;
    }
}